* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --white: #f2f2f2;
  --darkBg1: #202020;
  --grey:rgb(210, 210, 210);
  --darkBg2: rgb(45, 45, 45);
  --booked: red;
  --userBooked: green;
  
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
