.home {
  //   background-color: red;
  height: calc(100vh - 60px);
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px 30px;
    background-color: var(--darkBg1);
    .select_fields {
      background-color: var(--white);
      width: 47.5%;
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
    }
    .seat_allocations {
      width: 47.5%;
      height: 100%;
      padding: 30px;
      //   background: red;
      border-radius: 30px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .screen {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 30px;
        background-color: var(--darkBg2);
        border-radius: 0px 0px 20px 20px;
      }
      .seats {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row;
        flex-wrap: wrap;
        margin-top: 100px;
        .seat {
          width: 75px;
          height: 75px;
          background-color: var(--darkBg2);
          margin: 10px;
          cursor: pointer;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          h3 {
            color: var(--white);
          }
          &:hover {
            transform: translateY(-10px);
          }
        }
        .booked {
          background-color: var(--booked);
        }
        .user_booked {
          background-color: var(--userBooked);
        }
      }
    }
  }
}
